# OSX
#
.DS_Store

# node.js
#
**/node_modules/
**/npm/
npm-debug.log

# F#
.fake/
packages/
paket-files
.paket/load
build/
obj
bin
out

# git
*.orig

.vs

docs/output
docs/temp

Directory.Build.props
temp
.ionide
